main {
    height: calc(100vh - var(--header-height));
}

#mega-container {
    max-width: 1920px;
}

/* Sidebar */
#sidebar {
    width: var(--sidebar-width-1);
    background-color: #12283e;
    background-image: url("../../img/sidebar-bg.png");
    padding: 1.5rem;
}

#sidebar button {
    color: white;
    background-color: transparent;
    border: none;
    padding: 8px 0;
}

/* /Sidebar */

/* Main Content */
#main_container {
    width: calc(100vw - var(--sidebar-width-1));
}

/* Main Top */
#main-top {
    padding: 30px 14px;
}

#main-top #main-top-left div span {
    background-color: #165bba;
}

#ms_custom_offcanvas {
    width: 100%;
}

/* Main Top */

/* Main Info */
#info {
    color: var(--bs-dark);
}

/* /Main Info */

/* /Main Content */

/* Responsive */
/* Desktop L*/
@media (min-width: 992px) {

    /* Sidebar */
    #sidebar {
        width: var(--sidebar-width-2);
    }

    #sidebar button:hover {
        background-color: #808f99;
    }

    /* /Sidebar */

    /* Main Content */
    #main_container {
        width: calc(100vw - var(--sidebar-width-2));
    }

    #ms_custom_offcanvas {
        width: 55%;
    }

    /* /Main Content */
}

/* /Desktop L */

/* Desktop XL*/
@media (min-width: 1200px) {
    #ms_custom_offcanvas {
        width: 40%;
    }
}

/* /Desktop XL */
/* /Responsive */